body {
  font-family: sans-serif;
}
h1 {
  color: white;
}

.bigScreen {
  background-color: yellowgreen;
}

.mediumScreen {
  background-color: blueviolet;
}

.smallScreen {
  background-color: turquoise;
}
